.room {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    transition: background 0.5s;
}

.started {
    background-color: blue; /* 배경색 파란색 */
    color: white; /* 텍스트 색을 하얀색으로 변경 */
}

.warning {
    background: red;
    color: white;
}

input {
    width: 50px;
}

button {
    margin-top: 5px;
    cursor: pointer;
}
